In [6]:
import pandas as pd

In [7]:
df = pd.read_csv('pracas.csv', sep=';', encoding='ISO-8859-1')

In [8]:
df.head()

,concessionaria,praca_de_pedagio,ano_do_pnv_snv,rodovia,uf,km_m,municipio,tipo_pista,sentido,situacao,data_da_inativacao,latitude,longitude
0,AUTOPISTA FERNÃO DIAS,1 Norte - Defasada (Mairiporã),2007,BR-381,SP,"67,800",Mairiporã,Principal,Decrescente,Ativo,NaN,"-23,341210","-46,573664"
1,AUTOPISTA FERNÃO DIAS,1 Norte (Mairiporã),2007,BR-381,SP,"65,700",Mairiporã,Principal,Decrescente,Ativo,NaN,"-23,322298","-46,581097"
2,AUTOPISTA FERNÃO DIAS,1 Sul (Mairiporã),2007,BR-381,SP,"66,600",Mairiporã,Principal,Crescente,Ativo,NaN,"-23,330558","-46,578337"
3,AUTOPISTA FERNÃO DIAS,2 (Vargem),2007,BR-381,SP,"7,300",Vargem,Principal,Crescente/Decrescente,Ativo,NaN,"-22,908685","-46,424877"
4,AUTOPISTA FERNÃO DIAS,3 (Cambuí),2007,BR-381,MG,"900,900",Cambuí,Principal,Crescente/Decrescente,Ativo,NaN,"-22,628487","-46,077890"

In [9]:
latLong = df[['latitude', 'longitude']]

In [10]:
latLong

       latitude   longitude
0    -23,341210  -46,573664
1    -23,322298  -46,581097
2    -23,330558  -46,578337
3    -22,908685  -46,424877
4    -22,628487  -46,077890
..          ...         ...
175  -29,626833  -51,775773
176  -28,905316  -52,396797
177  -28,502039  -52,644709
178  -29,885897  -50,448964
179  -29,925023  -50,859104

[180 rows x 2 columns]

In [15]:
latLong = df[['latitude']].apply(lambda row: f"{row['latitude']},{row['longitude']}", axis=1).tolist()

print(latLong)

['-23,341210', '-23,322298', '-23,330558', '-22,908685', '-22,628487', '-21,970441', '-21,545700', '-21,000367', '-20,591486', '-20,268346', '-22,476441', '-21,552594', '-22,687469', '-22,774713', '-22,049750', '-25,747708', '-25,991898', '-26,591635', '-27,185065', '-27,885105', '-27,010584', '-25,713458', '-26,570363', '-26,070580', '-27,010584', '-23,787647', '-24,157869', '-24,389325', '-24,722483', '-24,964044', '-25,289252', '-16,115707', '-19,617614', '-19,776951', '-16,438631', '-17,163180', '-18,268544', '-19,471586', '-20,142521', '-19,909615', '-19,788259', '-19,647341', '-22,609965', '-22,284389', '-21,928252', '-15,810000', '-17,219391', '-16,393565', '-15,702041', '-15,349875', '-14,599728', '-13,919520', '-13,265990', '-12,441635', '-18,539374', '-18,749841', '-17,772000', '-19,915657', '-17,121178', '-19,180717', '-18,184679', '-18,860000', '-19,563100', '-20,032507', '-20,519316', '-20,878542', '-21,158397', '-22,877944', '-22,820833', '-22,607222', '-22,670000', '-21,638611', '-21,278333', '-20,823611', '-20,430277', '-19,991666', '-19,468055', '-19,027777', '-22,647307', '-22,657363', '-22,610815', '-22,716277', '-22,715213', '-31,851958', '-31,026386', '-31,449786', '-31,820075', '-31,625261', '-11,446100', '-12,340000', '-12,943414', '-13,791358', '-14,372969', '-14,799372', '-15,827072', '-14,814189', '-16,001028', '-18,876436', '-18,881821', '-18,962292', '-18,912533', '-18,882177', '-18,471225', '-18,111396', '-25,552500', '-23,003888', '-24,912222', '-24,319166', '-23,865169', '-23,167432', '-22,476042', '-21,865146', '-20,882783', '-20,040000', '-19,473376', '-18,722782', '-17,766671', '-22,910000', '-23,050000', '-23,006320', '-23,340000', '-23,420000', '-23,350000', '-23,410000', '-23,410000', '-22,490000', '-22,490000', '-23,300000', '-23,300000', '-22,930000', '-22,930000', '-22,716155', '-22,715133', '-22,485435', '-22,208911', '-21,962326', '-20,588611', '-20,997500', '-21,710555', '-22,336311', '-16,738900', '-20,767020', '-21,262710', '-17,098310', '-17,505980', '-17,945770', '-18,132650', '-18,565400', '-19,079300', '-19,601210', '-20,272880', '-25,470000', '-25,470000', '-25,440000', '-25,160000', '-25,725664', '-12,751217', '-12,451647', '-12,531931', '-13,008714', '-14,055969', '-14,646178', '-15,232323', '-11,339218', '-9,756473', '-4,620594', '-28,350722', '-28,554278', '-28,897740', '-29,243667', '-20,272880', '-20,767020', '-21,262710', '-29,520461', '-29,819760', '-29,626833', '-28,905316', '-28,502039', '-29,885897', '-29,925023']

In [16]:
long = df[['longitude']].apply(lambda row: f"{row['longitude']}", axis=1).tolist()

print(long)

['-46,573664', '-46,581097', '-46,578337', '-46,424877', '-46,077890', '-45,631188', '-45,240203', '-44,966967', '-44,701506', '-44,423711', '-42,088519', '-41,331597', '-42,539855', '-42,945500', '-41,685157', '-49,129655', '-48,881469', '-48,722079', '-48,612362', '-48,647677', '-50,374335', '-49,318037', '-50,221795', '-49,739911', '-50,428716', '-46,913922', '-47,326280', '-47,722391', '-48,082580', '-48,412000', '-48,933841', '-48,589240', '-47,346547', '-48,458219', '-49,019137', '-49,212582', '-49,245811', '-48,871046', '-49,110488', '-44,506725', '-45,584630', '-46,240088', '-43,285552', '-43,120269', '-43,316282', '-55,310000', '-54,758685', '-54,714281', '-55,829527', '-56,415628', '-56,240858', '-56,093419', '-56,022777', '-55,653798', '-48,046762', '-48,235551', '-47,749953', '-47,829377', '-47,721416', '-48,157415', '-39,922088', '-39,940000', '-40,177600', '-40,396538', '-40,478607', '-40,966079', '-41,280614', '-43,115734', '-43,805000', '-43,028611', '-42,980000', '-42,710277', '-42,412222', '-42,321111', '-42,163055', '-42,143611', '-42,133888', '-41,989444', '-43,187968', '-43,086196', '-43,032112', '-43,716858', '-43,730252', '-52,326177', '-52,049430', '-52,640644', '-52,526711', '-52,318116', '-48,990283', '-49,150000', '-49,133122', '-49,034842', '-49,158264', '-49,284164', '-49,281722', '-49,042442', '-48,840289', '-48,519762', '-49,035257', '-49,591723', '-50,224138', '-50,756750', '-51,082657', '-51,480543', '-49,036388', '-49,909722', '-50,086388', '-49,778611', '-54,329788', '-54,198970', '-54,860799', '-54,528504', '-54,504644', '-54,410000', '-54,496991', '-54,814951', '-54,750815', '-43,890000', '-44,580000', '-44,099135', '-46,150000', '-46,370000', '-46,160000', '-46,360000', '-46,360000', '-44,570000', '-44,570000', '-46,010000', '-46,010000', '-45,360000', '-45,360000', '-43,716697', '-43,730239', '-43,919084', '-43,382139', '-42,861675', '-49,318055', '-49,628333', '-49,808611', '-49,898833', '-47,617540', '-43,806680', '-43,662240', '-47,026240', '-46,564650', '-46,034250', '-45,408170', '-45,021160', '-44,654950', '-44,221960', '-43,951120', '-49,660000', '-49,900000', '-50,720000', '-50,540000', '-49,699992', '-38,431574', '-38,708421', '-39,415020', '-39,957042', '-40,204450', '-40,455782', '-41,100949', '-55,331222', '-54,894430', '-55,951381', '-48,739429', '-49,054214', '-49,473136', '-49,754475', '-43,951120', '-43,806680', '-43,662240', '-49,996581', '-51,360405', '-51,775773', '-52,396797', '-52,644709', '-50,448964', '-50,859104']

In [18]:

lat = [local.replace(',', '.') for local in lat]
print(lat)

['-23.341210', '-23.322298', '-23.330558', '-22.908685', '-22.628487', '-21.970441', '-21.545700', '-21.000367', '-20.591486', '-20.268346', '-22.476441', '-21.552594', '-22.687469', '-22.774713', '-22.049750', '-25.747708', '-25.991898', '-26.591635', '-27.185065', '-27.885105', '-27.010584', '-25.713458', '-26.570363', '-26.070580', '-27.010584', '-23.787647', '-24.157869', '-24.389325', '-24.722483', '-24.964044', '-25.289252', '-16.115707', '-19.617614', '-19.776951', '-16.438631', '-17.163180', '-18.268544', '-19.471586', '-20.142521', '-19.909615', '-19.788259', '-19.647341', '-22.609965', '-22.284389', '-21.928252', '-15.810000', '-17.219391', '-16.393565', '-15.702041', '-15.349875', '-14.599728', '-13.919520', '-13.265990', '-12.441635', '-18.539374', '-18.749841', '-17.772000', '-19.915657', '-17.121178', '-19.180717', '-18.184679', '-18.860000', '-19.563100', '-20.032507', '-20.519316', '-20.878542', '-21.158397', '-22.877944', '-22.820833', '-22.607222', '-22.670000', '-21.638611', '-21.278333', '-20.823611', '-20.430277', '-19.991666', '-19.468055', '-19.027777', '-22.647307', '-22.657363', '-22.610815', '-22.716277', '-22.715213', '-31.851958', '-31.026386', '-31.449786', '-31.820075', '-31.625261', '-11.446100', '-12.340000', '-12.943414', '-13.791358', '-14.372969', '-14.799372', '-15.827072', '-14.814189', '-16.001028', '-18.876436', '-18.881821', '-18.962292', '-18.912533', '-18.882177', '-18.471225', '-18.111396', '-25.552500', '-23.003888', '-24.912222', '-24.319166', '-23.865169', '-23.167432', '-22.476042', '-21.865146', '-20.882783', '-20.040000', '-19.473376', '-18.722782', '-17.766671', '-22.910000', '-23.050000', '-23.006320', '-23.340000', '-23.420000', '-23.350000', '-23.410000', '-23.410000', '-22.490000', '-22.490000', '-23.300000', '-23.300000', '-22.930000', '-22.930000', '-22.716155', '-22.715133', '-22.485435', '-22.208911', '-21.962326', '-20.588611', '-20.997500', '-21.710555', '-22.336311', '-16.738900', '-20.767020', '-21.262710', '-17.098310', '-17.505980', '-17.945770', '-18.132650', '-18.565400', '-19.079300', '-19.601210', '-20.272880', '-25.470000', '-25.470000', '-25.440000', '-25.160000', '-25.725664', '-12.751217', '-12.451647', '-12.531931', '-13.008714', '-14.055969', '-14.646178', '-15.232323', '-11.339218', '-9.756473', '-4.620594', '-28.350722', '-28.554278', '-28.897740', '-29.243667', '-20.272880', '-20.767020', '-21.262710', '-29.520461', '-29.819760', '-29.626833', '-28.905316', '-28.502039', '-29.885897', '-29.925023']

In [19]:
long = [local.replace(',', '.') for local in long]
print(long)

['-46.573664', '-46.581097', '-46.578337', '-46.424877', '-46.077890', '-45.631188', '-45.240203', '-44.966967', '-44.701506', '-44.423711', '-42.088519', '-41.331597', '-42.539855', '-42.945500', '-41.685157', '-49.129655', '-48.881469', '-48.722079', '-48.612362', '-48.647677', '-50.374335', '-49.318037', '-50.221795', '-49.739911', '-50.428716', '-46.913922', '-47.326280', '-47.722391', '-48.082580', '-48.412000', '-48.933841', '-48.589240', '-47.346547', '-48.458219', '-49.019137', '-49.212582', '-49.245811', '-48.871046', '-49.110488', '-44.506725', '-45.584630', '-46.240088', '-43.285552', '-43.120269', '-43.316282', '-55.310000', '-54.758685', '-54.714281', '-55.829527', '-56.415628', '-56.240858', '-56.093419', '-56.022777', '-55.653798', '-48.046762', '-48.235551', '-47.749953', '-47.829377', '-47.721416', '-48.157415', '-39.922088', '-39.940000', '-40.177600', '-40.396538', '-40.478607', '-40.966079', '-41.280614', '-43.115734', '-43.805000', '-43.028611', '-42.980000', '-42.710277', '-42.412222', '-42.321111', '-42.163055', '-42.143611', '-42.133888', '-41.989444', '-43.187968', '-43.086196', '-43.032112', '-43.716858', '-43.730252', '-52.326177', '-52.049430', '-52.640644', '-52.526711', '-52.318116', '-48.990283', '-49.150000', '-49.133122', '-49.034842', '-49.158264', '-49.284164', '-49.281722', '-49.042442', '-48.840289', '-48.519762', '-49.035257', '-49.591723', '-50.224138', '-50.756750', '-51.082657', '-51.480543', '-49.036388', '-49.909722', '-50.086388', '-49.778611', '-54.329788', '-54.198970', '-54.860799', '-54.528504', '-54.504644', '-54.410000', '-54.496991', '-54.814951', '-54.750815', '-43.890000', '-44.580000', '-44.099135', '-46.150000', '-46.370000', '-46.160000', '-46.360000', '-46.360000', '-44.570000', '-44.570000', '-46.010000', '-46.010000', '-45.360000', '-45.360000', '-43.716697', '-43.730239', '-43.919084', '-43.382139', '-42.861675', '-49.318055', '-49.628333', '-49.808611', '-49.898833', '-47.617540', '-43.806680', '-43.662240', '-47.026240', '-46.564650', '-46.034250', '-45.408170', '-45.021160', '-44.654950', '-44.221960', '-43.951120', '-49.660000', '-49.900000', '-50.720000', '-50.540000', '-49.699992', '-38.431574', '-38.708421', '-39.415020', '-39.957042', '-40.204450', '-40.455782', '-41.100949', '-55.331222', '-54.894430', '-55.951381', '-48.739429', '-49.054214', '-49.473136', '-49.754475', '-43.951120', '-43.806680', '-43.662240', '-49.996581', '-51.360405', '-51.775773', '-52.396797', '-52.644709', '-50.448964', '-50.859104']

In [25]:
latLong = []
for numLat, numLong in zip(lat, long):
    novoNum = f'{numLat},{numLong}'
    latLong.append(novoNum)
print(latLong)

['-23.341210,-46.573664', '-23.322298,-46.581097', '-23.330558,-46.578337', '-22.908685,-46.424877', '-22.628487,-46.077890', '-21.970441,-45.631188', '-21.545700,-45.240203', '-21.000367,-44.966967', '-20.591486,-44.701506', '-20.268346,-44.423711', '-22.476441,-42.088519', '-21.552594,-41.331597', '-22.687469,-42.539855', '-22.774713,-42.945500', '-22.049750,-41.685157', '-25.747708,-49.129655', '-25.991898,-48.881469', '-26.591635,-48.722079', '-27.185065,-48.612362', '-27.885105,-48.647677', '-27.010584,-50.374335', '-25.713458,-49.318037', '-26.570363,-50.221795', '-26.070580,-49.739911', '-27.010584,-50.428716', '-23.787647,-46.913922', '-24.157869,-47.326280', '-24.389325,-47.722391', '-24.722483,-48.082580', '-24.964044,-48.412000', '-25.289252,-48.933841', '-16.115707,-48.589240', '-19.617614,-47.346547', '-19.776951,-48.458219', '-16.438631,-49.019137', '-17.163180,-49.212582', '-18.268544,-49.245811', '-19.471586,-48.871046', '-20.142521,-49.110488', '-19.909615,-44.506725', '-19.788259,-45.584630', '-19.647341,-46.240088', '-22.609965,-43.285552', '-22.284389,-43.120269', '-21.928252,-43.316282', '-15.810000,-55.310000', '-17.219391,-54.758685', '-16.393565,-54.714281', '-15.702041,-55.829527', '-15.349875,-56.415628', '-14.599728,-56.240858', '-13.919520,-56.093419', '-13.265990,-56.022777', '-12.441635,-55.653798', '-18.539374,-48.046762', '-18.749841,-48.235551', '-17.772000,-47.749953', '-19.915657,-47.829377', '-17.121178,-47.721416', '-19.180717,-48.157415', '-18.184679,-39.922088', '-18.860000,-39.940000', '-19.563100,-40.177600', '-20.032507,-40.396538', '-20.519316,-40.478607', '-20.878542,-40.966079', '-21.158397,-41.280614', '-22.877944,-43.115734', '-22.820833,-43.805000', '-22.607222,-43.028611', '-22.670000,-42.980000', '-21.638611,-42.710277', '-21.278333,-42.412222', '-20.823611,-42.321111', '-20.430277,-42.163055', '-19.991666,-42.143611', '-19.468055,-42.133888', '-19.027777,-41.989444', '-22.647307,-43.187968', '-22.657363,-43.086196', '-22.610815,-43.032112', '-22.716277,-43.716858', '-22.715213,-43.730252', '-31.851958,-52.326177', '-31.026386,-52.049430', '-31.449786,-52.640644', '-31.820075,-52.526711', '-31.625261,-52.318116', '-11.446100,-48.990283', '-12.340000,-49.150000', '-12.943414,-49.133122', '-13.791358,-49.034842', '-14.372969,-49.158264', '-14.799372,-49.284164', '-15.827072,-49.281722', '-14.814189,-49.042442', '-16.001028,-48.840289', '-18.876436,-48.519762', '-18.881821,-49.035257', '-18.962292,-49.591723', '-18.912533,-50.224138', '-18.882177,-50.756750', '-18.471225,-51.082657', '-18.111396,-51.480543', '-25.552500,-49.036388', '-23.003888,-49.909722', '-24.912222,-50.086388', '-24.319166,-49.778611', '-23.865169,-54.329788', '-23.167432,-54.198970', '-22.476042,-54.860799', '-21.865146,-54.528504', '-20.882783,-54.504644', '-20.040000,-54.410000', '-19.473376,-54.496991', '-18.722782,-54.814951', '-17.766671,-54.750815', '-22.910000,-43.890000', '-23.050000,-44.580000', '-23.006320,-44.099135', '-23.340000,-46.150000', '-23.420000,-46.370000', '-23.350000,-46.160000', '-23.410000,-46.360000', '-23.410000,-46.360000', '-22.490000,-44.570000', '-22.490000,-44.570000', '-23.300000,-46.010000', '-23.300000,-46.010000', '-22.930000,-45.360000', '-22.930000,-45.360000', '-22.716155,-43.716697', '-22.715133,-43.730239', '-22.485435,-43.919084', '-22.208911,-43.382139', '-21.962326,-42.861675', '-20.588611,-49.318055', '-20.997500,-49.628333', '-21.710555,-49.808611', '-22.336311,-49.898833', '-16.738900,-47.617540', '-20.767020,-43.806680', '-21.262710,-43.662240', '-17.098310,-47.026240', '-17.505980,-46.564650', '-17.945770,-46.034250', '-18.132650,-45.408170', '-18.565400,-45.021160', '-19.079300,-44.654950', '-19.601210,-44.221960', '-20.272880,-43.951120', '-25.470000,-49.660000', '-25.470000,-49.900000', '-25.440000,-50.720000', '-25.160000,-50.540000', '-25.725664,-49.699992', '-12.751217,-38.431574', '-12.451647,-38.708421', '-12.531931,-39.415020', '-13.008714,-39.957042', '-14.055969,-40.204450', '-14.646178,-40.455782', '-15.232323,-41.100949', '-11.339218,-55.331222', '-9.756473,-54.894430', '-4.620594,-55.951381', '-28.350722,-48.739429', '-28.554278,-49.054214', '-28.897740,-49.473136', '-29.243667,-49.754475', '-20.272880,-43.951120', '-20.767020,-43.806680', '-21.262710,-43.662240', '-29.520461,-49.996581', '-29.819760,-51.360405', '-29.626833,-51.775773', '-28.905316,-52.396797', '-28.502039,-52.644709', '-29.885897,-50.448964', '-29.925023,-50.859104']

In [20]:
print(lat)

['-23.341210', '-23.322298', '-23.330558', '-22.908685', '-22.628487', '-21.970441', '-21.545700', '-21.000367', '-20.591486', '-20.268346', '-22.476441', '-21.552594', '-22.687469', '-22.774713', '-22.049750', '-25.747708', '-25.991898', '-26.591635', '-27.185065', '-27.885105', '-27.010584', '-25.713458', '-26.570363', '-26.070580', '-27.010584', '-23.787647', '-24.157869', '-24.389325', '-24.722483', '-24.964044', '-25.289252', '-16.115707', '-19.617614', '-19.776951', '-16.438631', '-17.163180', '-18.268544', '-19.471586', '-20.142521', '-19.909615', '-19.788259', '-19.647341', '-22.609965', '-22.284389', '-21.928252', '-15.810000', '-17.219391', '-16.393565', '-15.702041', '-15.349875', '-14.599728', '-13.919520', '-13.265990', '-12.441635', '-18.539374', '-18.749841', '-17.772000', '-19.915657', '-17.121178', '-19.180717', '-18.184679', '-18.860000', '-19.563100', '-20.032507', '-20.519316', '-20.878542', '-21.158397', '-22.877944', '-22.820833', '-22.607222', '-22.670000', '-21.638611', '-21.278333', '-20.823611', '-20.430277', '-19.991666', '-19.468055', '-19.027777', '-22.647307', '-22.657363', '-22.610815', '-22.716277', '-22.715213', '-31.851958', '-31.026386', '-31.449786', '-31.820075', '-31.625261', '-11.446100', '-12.340000', '-12.943414', '-13.791358', '-14.372969', '-14.799372', '-15.827072', '-14.814189', '-16.001028', '-18.876436', '-18.881821', '-18.962292', '-18.912533', '-18.882177', '-18.471225', '-18.111396', '-25.552500', '-23.003888', '-24.912222', '-24.319166', '-23.865169', '-23.167432', '-22.476042', '-21.865146', '-20.882783', '-20.040000', '-19.473376', '-18.722782', '-17.766671', '-22.910000', '-23.050000', '-23.006320', '-23.340000', '-23.420000', '-23.350000', '-23.410000', '-23.410000', '-22.490000', '-22.490000', '-23.300000', '-23.300000', '-22.930000', '-22.930000', '-22.716155', '-22.715133', '-22.485435', '-22.208911', '-21.962326', '-20.588611', '-20.997500', '-21.710555', '-22.336311', '-16.738900', '-20.767020', '-21.262710', '-17.098310', '-17.505980', '-17.945770', '-18.132650', '-18.565400', '-19.079300', '-19.601210', '-20.272880', '-25.470000', '-25.470000', '-25.440000', '-25.160000', '-25.725664', '-12.751217', '-12.451647', '-12.531931', '-13.008714', '-14.055969', '-14.646178', '-15.232323', '-11.339218', '-9.756473', '-4.620594', '-28.350722', '-28.554278', '-28.897740', '-29.243667', '-20.272880', '-20.767020', '-21.262710', '-29.520461', '-29.819760', '-29.626833', '-28.905316', '-28.502039', '-29.885897', '-29.925023']

In [26]:
print(len(latLong))

180

:

AttributeError: 'list' object has no attribute 'to_csv'